*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url('https://w0.peakpx.com/wallpaper/123/54/HD-wallpaper-scenery-lake-nature-sky-tree-water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color:#ff0000;
}
.form
{
    background-image: url('https://w0.peakpx.com/wallpaper/123/54/HD-wallpaper-scenery-lake-nature-sky-tree-water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 11px -13px 146px 0px rgba(12, 112, 51, 0.75);
}
label{
    display: block;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #ff0000;
    padding: 3px 0px;
}
input
{
    background-color: transparent;
    color: rgb(2, 13, 21);
    border-radius: 5px;
    border-color: aliceblue;
    width: 100%;
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 14px;
}
button
{
    background-color: rgba(93,16,87,0.5);
    border-color: aliceblue;
    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    margin-top: 8px;
    margin-left: 80px;
    border-radius: 5px;
}
table,thead,tr,td
{
    border: 5px solid rgba(16, 17, 16, 0.66);
    border-collapse: collapse;
    padding: 12px 29px;
    margin-top: 20px;
}